{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <style>
  body{
    width: 560px;
    height: 790px;
  }
</style> -->
<link href="../../../static/favicon.ico" rel="icon" />
<title>Invoice - The Fashion Truck</title>
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
======================= -->
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>

<!-- Stylesheet
======================= -->
<link rel="stylesheet" type="text/css" href="//demo.harnishdesign.net/html/koice/vendor/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="//demo.harnishdesign.net/html/koice/vendor/font-awesome/css/all.min.css"/>
<link rel="stylesheet" type="text/css" href="//demo.harnishdesign.net/html/koice/css/stylesheet.css"/>
</head>
<body>
<!-- Container -->
<div class="container-fluid invoice-container">
  <!-- Header -->
  <header>
  <div class="row align-items-center">
    <div class="col-sm-7 text-center text-sm-left mb-3 mb-sm-0">
      <img id="logo" src="../../../static/logo.jpg" title="Koice" alt="Koice" />
    </div>
    <div class="col-sm-5 text-center text-sm-right">
      <h4 class="text-7 mb-0">Invoice</h4>
    </div>
  </div>
  <hr>
  </header>
  
  <!-- Main Content -->
  <main>
  <div class="row">
    <div class="col-sm-6"><strong>Date: </strong>{{user_profile.time}}</div>
    <div class="col-sm-6 text-sm-right"> <strong>Invoice No:</strong></div>
	  
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 text-sm-right order-sm-1"> <strong>Pay To:</strong>
      <address>
      Tasneem Jahangir<br />
      Malibagh, Dhaka 1217<br />
	  01793400300
      <br />
      </address>
    </div>
    <div class="col-sm-6 order-sm-0 text-wrap"> <strong>Invoiced To:</strong>
      <address class="text-wrap text-break">
		Name: {{user_profile.name}} <br>
		Mobile: {{user_profile.phone}} <br>
		Address: {{user_profile.address}}
      </address>
    </div>
  </div>
	
  <div class="card">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table mb-0">
		<thead class="card-header">
          <tr>
            <td class="col-3 border-0"><strong>Service</strong></td>
			<td class="col-4 border-0"><strong>Description</strong></td>
            <td class="col-2 text-center border-0"><strong>Rate</strong></td>
			<td class="col-1 text-center border-0"><strong>QTY</strong></td>
            <td class="col-2 text-right border-0"><strong>Amount</strong></td>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td class="col-3 border-0"></td>
              <td class="col-4 text-1 border-0">{{user_profile.product_details}}</td>
              <td class="col-2 text-center border-0">{{user_profile.price}}</td>
			        <td class="col-1 text-center border-0">{{user_profile.quantity}}</td>
			       <td class="col-2 text-right border-0">{% widthratio user_profile.quantity 1 user_profile.price %}</td>
            </tr>
            
            <tr>
              <td></td>
              <td class="text-1"></td>
              <td class="text-center"></td>
			        <td class="text-center"></td>
			        <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-1"></td>
              <td class="text-center"></td>
			        <td class="text-center"></td>
			        <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-1"></td>
              <td class="text-center"></td>
			        <td class="text-center"></td>
			        <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-1"></td>
              <td class="text-center"></td>
			        <td class="text-center"></td>
			        <td class="text-right"></td>
            </tr>
          </tbody>
		  <tfoot class="card-footer">
			<tr>
              <td colspan="4" class="text-right"><strong>Sub Total:</strong></td>
              <td class="text-right">{% widthratio user_profile.quantity 1 user_profile.price %}</td>
            </tr>
            <tr>
              <td colspan="4" class="text-right"><strong>Tax:</strong></td>
              <td class="text-right"></td>
            </tr>
			<tr>
              <td colspan="4" class="text-right"><strong>Total:</strong></td>
              <td class="text-right">{% widthratio user_profile.quantity 1 user_profile.price %}</td>
            </tr>
		  </tfoot>
        </table>
      </div>
    </div>
  </div>
  </main>
  <!-- Footer -->
  <footer class="text-center mt-4">
  <p class="text-1"><strong>NOTE :</strong> This is computer generated receipt and does not require physical signature.</p>
  <div class="btn-group btn-group-sm d-print-none">
    <a href="javascript:window.print()" class="btn btn-light border text-black-50 shadow-none">
      <i class="fa fa-print"></i> Print
    </a> 
    <a href="/{{ user_profile.id }}" class="btn btn-light border text-black-50 shadow-none">Download</a>       
  </div>
  </footer>
</div>
</body>

</html>